* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

.main_box {
    background-image: url(photo.jpg);
    background-size: cover;
    height: 100vh;
}

.btn_one label i {
    font-size: 35px;
    margin: 10px;
}

#check:checked~.btn_one {
    display: none;
    transition: all 0.3s ease;
}

#check:checked~.sidebar_menu {
    left: 0;
    transition: all 0.3s ease;
}

.sidebar_menu {
    transition: all 0.3s ease;
    top: 0;
    position: fixed;
    color: white;
    width: 300px;
    height: 100vh;
    left: -400px;
    background-color: rgba(128, 128, 128, 0.129);
}

.logo {
    padding: 10px 0px;
    height: 30px;
    box-shadow: 0 0 4px grey;
    width:99%;
    font-size: 1.5em;
    text-align: center;
}

.btn_two {
    position: absolute;
    font-size: 35px;
    margin-left: 0px;
    right: 20px;
    top:5px
}

a {
    text-decoration: none;
    color: white;
}

li {
    margin: 15px 0;
    padding: 15px;
}
ul a {
    font-size: 20px;
}

ul li i {
    padding: 0px 10px;
}

li:hover {
    box-shadow: 0 0 4px grey;
}

.social_media {
    position: absolute;
    left: 35%;
    bottom: 50px;
}
.social_media ul a i{
    color: white;
    opacity: 0.1;
}
.social_media ul a i:hover{
    font-size: larger;
    opacity: 1;
}
label i:hover{
    cursor: grab;
    color: white;
    font-size: 39px;
}